@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Montserrat:400";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  font-family: "Montserrat", "Avenir Next", "Avenir", sans-serif;
}
html, body {
   max-width: 100vw;
   overflow-x: hidden;
}
#site {
  background-color: #f3f3f3;
}
#contato {
  padding: 20px 0;
  background-color: #e2ad09;
}
.button {
  background: #fff !important;
  color: #3f51b5;
  position: relative;
  bottom: 25vh;
}
.hideResposta {
  display: none;
}
.showResposta {
  display: block;
}
.seta {
  position: relative;
  top: 5px;
  color: #fff;
  font-size: 20pt;
  cursor: pointer;
}
.dropdown-menu {
  background: transparent !important;
  border: none !important;
  transform: translate3d(0px, 51px, 0px) !important;
}
.dropdown-item {
  padding: 0 !important;
  margin-top: 5px;
  width: 50px;
}
.dropdown-item:hover {
  background: transparent !important;
}
.dropdown {
  position: relative;
  bottom: 35px;
  margin-left: 5px;
}
/*---------- CLASSES DAs ANIMAÇOES DE TEXTO ----------*/
.textType {
  display: inline;
  position: relative;
  bottom: 30vh;
}
.typed-cursor {
  font-size: 25pt;
  margin-left: 3px;
  position: relative;
}
#bemVindo + .typed-cursor {
  bottom: calc(31vh - 4px);
}
#typed + .typed-cursor {
  bottom: 0;
}

/*-----------NAVBAR HORIZONTAL------------*/
.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar-nav {
  position: relative;
  top: 15px;
}
.navbar {
  background: transparent !important;
  padding-top: 100px;
  padding-left: 150px;
}
.nav-link {
  font-family: Montserrat, Helvetica Neue, sans-serif;
  font-size: 14pt;
  font-weight: 500;
  color: #fff;
  min-width: 80px;
  line-height: 36px;
  padding: 0 8px;
  border-radius: 2px;
  text-align: center;
}
.borderBtm {
  border-bottom: 3px solid rgba(255, 255, 255, .5);
  border-radius: 0;
}
.nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  position: relative;
  color: #f4f4f4;
  cursor: pointer;
  outline: 0;
  border: none;
}
.navbar-brand {
  font-family: Montserrat, Helvetica Neue, sans-serif;
  font-size: 20pt !important;
  font-weight: 500;
  color: #f4f4f4;
  padding: 0 16px;
  margin-left: 1%;
}
/*----MENU PARA DISPOSITIVOS PEQUENOS-----*/
.menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  left: -5px;
  cursor: pointer; 
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
.menuToggle span , .menuToggle input {
  left: 75vw;
  bottom: 33px;
} 
.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;             
}
.menuToggle span:first-child {
  transform-origin: 0 0;
}
.menuToggle span:nth-last-child(2) {
  transform-origin: 0 100%;
}
.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.menu {
  position: absolute;
  left: 30vw;
  top: -60px;
  width: 300px;
  padding: 30px;
  height: 100vh;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.menu li {
  padding: 10px 0;
  font-size: 22px;
  text-decoration: none;
  color: #232323;
}
.menuToggle input:checked ~ ul {
  transform: none;
}
/*--------------------- Carousel ---------------------*/
.carousel {
  margin-top: -60px;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 100vh;
  background-color: #777;
}
.carousel-item > img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
}
/*------------------- Marketing --------------------*/
.quemSomos {
  background-image: url('../img/assets/asset1.png');
  background-repeat: none;
  background-size: 800px;
  background-repeat: no-repeat;
  background-position-x: 50vw;
  position: initial;
  height: 55vw; 
}
.web {
  background-image: url('../img/assets/web.png');
  background-repeat: none;
  background-size: 55vw;
  background-repeat: no-repeat;
  background-position-x: 75vw;
  background-position-y: -40px;
  position: initial;
  height: 50vw; 
}
.mobile {
  background-image: url('../img/assets/mobile-app.png');
  background-repeat: none;
  background-size: 55vw;
  background-repeat: no-repeat;
  background-position-x: -15vw;
  background-position-y: 0px;
  position: initial;
  height: 50vw; 
}
.design {
  background-image: url('../img/assets/design.png');
  background-repeat: none;
  background-size: 60vw;
  background-repeat: no-repeat;
  background-position-x: 55vw;
  position: initial;
  height: 50vw; 
}
.teamTitle {
  color: #787878;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
.marketing-card {
  background-color: #ffffff;
  border-radius: 20px;
  margin:20px;
  border: 1px solid rgba(120,120,120,.2);
}
.marketing {
  padding-top: 1rem;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.featurette-divider {
  margin: 3rem 0; 
}
.rounded-circle {
  object-fit: cover;
  border: 1px solid rgba(150,150,150,.6);
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
  font-size: 1.8rem;
  
  text-align: center;
}
.fazemosTitle {
  margin-top: 100px !important;
}
.featurette-image {
  width: 700px;
}
.markImgRight, .markImgLeft {
  position: relative;
}
.textF {
  font-size: 3rem;
}
.text {
  margin: 30px 0;
  font-size: 2.7rem;
  font-weight: bolder;
  border-bottom: 2px solid #787878;
  color: #787878;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom:10px;
}
.lead {
  font-size: 1.5rem;
}
.img {
  margin-top: 20px; 
}
.p-marketing {
  font-size: 12pt;
  color: #787878;
  text-align: justify;
  padding: 0px 15px 0 15px;
}
.title-marketing {
  font-size: 18pt;
  font-weight: bold;
  color: #787878;
}

.btn-marketing1, .btn-marketing2, .btn-marketing3 {
  position: relative;
  margin-left: 10px;
}
/*-------------- Team  --------------------*/
.team {
  margin-left: 20px;
}
.teamText {
  text-align: center;
}
.modal-title {
  text-align: center !important;
}
.img-team {
  width: 150px;
  height: 140px;
}
.teamDescription {
  font-size: 13pt;
  text-align: justify; 
}
/*-------------- Back to top btn --------------------*/
button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
  height: 0;
  width: 0;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: transparent;
  clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
  bottom: 75px;
  font-size: 0;
  outline: 0 !important;
  z-index: 99;
  transition: all .3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus {
  outline: 0 !important;
}
button.back-to-top::before {
  content: "\f077";
  font-family: "FontAwesome";
  display: block;
  vertical-align: middle;
  margin: -5px 0 auto;
}
button.back-to-top.show {
  display: block;
  background: #fff;
  color: #00ab6c;
  font-size: 25px;
  right: 25px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
/*--------------------- Contato ---------------------*/

.btnEnv {
  background-color: #ffffff !important;
  border: 1px solid rgba(120,120,120,.5);
  margin-bottom: 30px;
}
.footer-title {
  color: #787878;
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
}
.map {
  display: flex;
  justify-content: center;
}
.endereco {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
} 
.footer-copy {
  color: #ffffff;
  text-align: center;
}
textarea {
  resize: none;
}
.btnEnv {
  background-color: #ffffff !important;
  border: 1px solid rgba(120,120,120,.5);
  padding: 5px 35px;
  border-radius: 10px;
  font-size: 14pt;
}
.form-label {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}
.form-control {
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #5e9bfc;
}
.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: #999
}
.btn-start-order {
  background: 0 0 #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: capitalize;
  transition: all 0.25s ease 0s;
}
/*------------------- MEDIA QUERIES -----------------*/
@media only screen and (max-width: 1445px) {
  .navbar-brand {
    font-size: 26pt !important;
  }
  .nav-link {
    font-size: 20pt !important;
    margin-left: 8px;
    margin-right: 8px;
  }
  .markImgRight {
    left: 100px;
  }
  .markImgLeft {
    left: 40px;
  }
}
@media only screen and (max-width: 1060px) {
  .navbar-brand {
    font-size: 24pt !important;
  }
  .nav-link {
    font-size: 18pt !important;
  }
  .markImgRight {
    left: 0;
  }
  .markImgLeft {
    left: 50px;
  }
  .btn-marketing1 {
    top: 40px;
  }
  .btn-marketing2 {
    top: 15px;
  }
  .btn-marketing3 {
    top: 10px;
  }
  
}
@media only screen and (max-width: 900px) {
  
  .marketing .row .col-lg-4 .img {
    margin-top: 15px;
  } 
}
@media only screen and (max-width: 770px) {
  
  .menu {
    left: 60vw;
  }
  .menuToggle span , .menuToggle input {
    left: 75vw;
  }
  .navbar-brand {
    font-size: 18pt !important;
  }
  .nav-link {
    font-size: 16pt !important;
    margin-left: 4px;
    margin-right: 4px;
  }
  .btn-marketing1 {
    top: 0;
  }
  .btn-marketing2 {
    top: 0;
  }
  .btn-marketing3 {
    top: 0;
  }
  .img-fluid {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .menuToggle span , .menuToggle input {
    left: 70vw;
  }
  .menu {
    left: 30vw;
  }
  #bemVindo {
    bottom: 10vh;
  }
  #bemVindo + .typed-cursor {
    bottom: 10vh;
  }
  .button {
    bottom: 10vh;
  }
  .text {
    font-size: 2rem;
  }
  .featurette-heading {
    font-size: 1.6rem;
  }
  .markImgRight {
    left: 40px ;
    margin-top: 20px;
  }
  .markImgLeft {
    left: 80px;
    margin-top: 20px;
  }
  .first {
    position: relative;
    left: 30px;
  }
  .btn-marketing1, .btn-marketing2, .btn-marketing3 {
    margin-left: 0;
  }
  .redes-sociais {
    left: 0;
    width: 70px;
  }

}
@media only screen and (max-width: 400px) {
  .featurette-heading {
    font-size: 1.4rem;
  }
  .markImgRight {
    left: 20px ;
    margin-top: 20px;
  }
  .markImgLeft {
    left: 15px;
    margin-top: 80px;
  }
  .first {
    position: relative;
    left: 20px;
  }
  .redes-sociais {
    left: 0;
    width: 70px;
  }

}
@media only screen and (max-width: 320px) {
  .menuToggle span , .menuToggle input {
    left: 63vw;
  }
  .menu {
    left: 20vw;
  }
  .markImgRight {
    left: 0;
    margin-top: 20px;
  }
  .redes-sociais {
    left: 0;
    width: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .menuToggle {
    display: none;
  }
  .navbar-brand {
    margin-left: 50px;
  }
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 30px;
  }
}
/* --------------------------------------------------*/